@model EntityLayer.Concrete.Admin

@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Admin EkLeme Sayfası</h1>
<br />
@using (Html.BeginForm("AddAdmin", "Autohorization", FormMethod.Post))
{
<div class="form-group">

    @Html.Label("Admin KullanıcıAdı")
    @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })

    <br /> <br />
    @Html.Label("Şifreni giriniz")
    @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })

    <br /> <br />
    @Html.Label("Rolü seçiniz")
    @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
    <br /> <br />
    <button class="btn btn-info">Kaydet</button>

</div>

}